/* body {
  background-color: lightgrey;
} */

#title {
  font-size: 14px;
  text-align: center;
}

#container {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* width: 400px;
  height: 300px; */
  justify-content: center;
  align-content: center;
  margin: auto;
}

.newpostdiv {
  /* margin: auto; */
  padding: 10px;
}

h3 {
  text-align: center;
}

#question {
  text-align: center;
}
button {
  width: 200px;
  height: 30px;
  align-self: center;
}

#manage {
  text-align: center;
  padding: 10px;
}
